@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cutive+Mono&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Silkscreen&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

.bebas-neue-regular,
h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.subHeader {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

:root {
  --primary-colour: #15112b;
  --linear-colour: #4b6a88;
  --secondary-colour: #f48599;
  --third-colour: #132743;
  --fourth-colour: #e8630a;
  --box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  --text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  --font: ;
}

body {
  background: linear-gradient(
    85deg,
    rgba(31, 27, 52) 0%,
    rgba(68, 65, 85) 100%
  );
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white !important;
  font-size: 50px;
  margin-top: 60px !important;
}

h2 {
  display: flex;
  justify-content: center;
  color: var(--secondary-colour) !important;
  font-size: 20px;
}

.about-me {
  display: flex;
  text-align: center;
  color: white;
  font-size: 10px;
}
